*{
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: #3D3D3D;
    background-color: #FFFFFF;
}
img{
    width: 100%;
}

/*Estilização TOPO*/
.secao-menu{
    max-width: 1024px;
}
.topo{
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #5D5D5D;
}
.topo .secao-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    margin: 0 auto;
}
.nome-logo{
    margin: 0 40px 0 0;
    font-size: 24px;
    color: #3D3D3D;
    text-decoration: none;
}
.nome-logo span{
    color: #6592C9;
}
.menu{
    text-transform: uppercase;
    line-height: 18px;
    padding: 0px 15px 10px 15px;
    color: #3D3D3D;
    text-decoration: none;
}
.link:hover{
    border-bottom: 3px solid #6592C9;
}

/*Imagem do fundo*/
.PousadaSecreta{
    background-image: url(img.css/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagina-inicial{
    color: #FFFFFF;
    background-color: #0A9077B3;
    text-align: center;
    font-size: 30px;
    padding: 0 20px;
    border: 1px solid #FFF;
    border-radius: 5px;
}
.secao-titulo{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.secao-titulo h2{
    font-weight: normal;
    font-size: 30px;
}

/*Seção Quartos*/
.secao-tamanho{
    width: 1024px;
    margin: 0 auto;
}
.secao-quartos{
    display: flex;
    justify-content: space-between;
}
.secao-quartos img{
    width: 350px;
}
.quartos{
    margin-right: 30px;
    font-size: 20px;
    border-bottom: 2px solid #00836A;
    text-decoration: none;
    color: #3D3D3D;
}
.quartos a{
    text-decoration: none;
    color: #333333;
}
.quartos a p{
    text-align: center;
    font-weight: bold;
}
.quartos:last-child{
    margin-right: 0;
}

/*Secao SOBRE*/
.principal-container-sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 1024px;
    margin: 0 auto;
}
.container-sobre{
    display: flex;
    width: 45%;
    margin: 0 10px;
    align-items: center;
    justify-content: space-between;
}
.descricao-sobre{
    flex: 1 1 auto;
}
.descricao-img{
    width: 100px;
    height: 113px;
    object-fit: cover;
    margin-left: 10px;
}

/*Seção RODAPE*/
.container-rodape{
    width: 100%;
    background-color: #49997D;
    color: #FFFFFF;
}
.container-rodape h4{
    font-size: 22px;
}
.secao-rodape{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.secao-info{
    width: 23%;
    display: flex;
    align-items: center;
}
.link-rodape{
    margin-right: 10px;
    color: #FFFFFF;
    text-decoration: none;
}
.icone-rodape{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.rodape-compania{
    text-align: center;
    padding: 20px;
    border-top: 1px solid #3B7863;
    font-weight: 600px;
    width: 100%;
}